Makefile
build/
CONTRIBUTING.md
docs/
.eslintignore
.eslintrc.js
examples/
reports/
support/
.github/
.gitlab-ci.yml
.nyc_output
templates
test/
.travis.yml
var/

# Node.js
npm-debug.log

# Mac OS X
.DS_Store
