{
  "name": "{{npmModule}}",
  "version": "1.0.0",
  "description": "{{description}}",
  "author": {
    "name": "Passport Next Developers",
    "url": "https://github.com/orgs/passport-next/people"
  },
  "homepage": "{{github}}",
  "contributors": [],
  "bugs": {
    "url": "{{github}}/issues"
  },
  "dependencies": {
  },
  "devDependencies": {
    "@passport-next/chai-passport-strategy": "1.x.x",
    "@passport-next/eslint-config-passport-next": "^2.0.0",
    "chai": "4.x.x",
    "coveralls": "^3.1.1",
    "eslint": "^7.29.0",
    "eslint-config-standard": "^16.0.3",
    "mocha": "9.x.x",
    "nunjucks": "^3.2.2",
    "open-cli": "^7.0.0",
    "nyc": "^15.1.0"
  },
  "engines": {
    "node": ">=8.0.0"
  },
  "keywords": [
    "express",
    "connect",
    "auth",
    "authn",
    "authentication"
  ],
  "license": "MIT",
  "main": "./lib",
  "repository": {
    "type": "git",
    "url": "{{github}}"
  },
  "scripts": {
    "templates": "node ./templates/gen.js",
    "init-new-project": "node ./templates/gen --init",
    "lint": "eslint --max-warnings 0 --ext js,cjs,md .",
    "lintfix": "eslint --ext js,cjs,md . --fix",
    "testonly": "mocha --reporter spec --require test/bootstrap/node test/*.test.js test/**/*.test.js",
    "test": "nyc --report-dir=var/coverage --reporter=lcov --reporter=text npm run testonly",
    "coveralls": "nyc report --report-dir=var/coverage --reporter=text-lcov | coveralls"
  }
}
